In [4]:
import sys
import os
notebookDir = os.getcwd()
parentDir = os.path.dirname(notebookDir)
sys.path.append(parentDir)

from src.data import fetchData, cleanData
from src.features import getXOTW, getHTFXOTX

# Now you can use the functions
rawPath = '../data/ES/CME_MINI_ESX_5m.csv'

rawES = fetchData(rawPath)
ESX = cleanData(rawES)

ESX = getXOTW(ESX)
ESX = getHTFXOTX(ESX, 'M', 'MH', 'ML')
ESX = getHTFXOTX(ESX, 'Q', 'QH', 'QL')
ESX = getHTFXOTX(ESX, 'Y', 'YH', 'YL')

ESX

/Users/zSpinach/Documents/Dev/zSPH/QuantumBTP/src/features.py:5: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  _XH = _df.groupby(_df['DateTime'].dt.to_period(_tf))['High'].transform('max')
/Users/zSpinach/Documents/Dev/zSPH/QuantumBTP/src/features.py:6: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  _XL = _df.groupby(_df['DateTime'].dt.to_period(_tf))['Low'].transform('min')
/Users/zSpinach/Documents/Dev/zSPH/QuantumBTP/src/features.py:5: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  _XH = _df.groupby(_df['DateTime'].dt.to_period(_tf))['High'].transform('max')
/Users/zSpinach/Documents/Dev/zSPH/QuantumBTP/src/features.py:6: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  _XL = _df.groupby(_df['DateTime'].dt.to_period(_tf))['Low'].transform('min')
/Users/zSpinach/Documents/Dev/zSPH/QuantumBTP/src/features.py:5: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  _XH = _df.groupby(_df['DateTime'].dt.to_period(_tf))['High'].transform('max')
/Users/zSpinach/Documents/Dev/zSPH/QuantumBTP/src/features.py:6: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  _XL = _df.groupby(_df['DateTime'].dt.to_period(_tf))['Low'].transform('min')

,DateTime,Open,High,Low,Close,HourOfDay,Minute,DayOfWeek,Day,Month,...,WeekOfYear,xClose,WH,WL,MH,ML,QH,QL,YH,YL
0,2000-01-03 06:15:00+00:00,1487.25,1487.75,1487.00,1487.75,6,15,0,3,1,...,1,1,0,0,0,0,0,0,0,0
1,2000-01-03 06:20:00+00:00,1488.25,1488.50,1488.25,1488.50,6,20,0,3,1,...,1,1,0,0,0,0,0,0,0,0
2,2000-01-03 06:25:00+00:00,1488.75,1488.75,1488.50,1488.50,6,25,0,3,1,...,1,0,0,0,0,0,0,0,0,0
3,2000-01-03 06:30:00+00:00,1488.25,1488.50,1488.25,1488.50,6,30,0,3,1,...,1,1,0,0,0,0,0,0,0,0
4,2000-01-03 06:35:00+00:00,1488.00,1488.50,1488.00,1488.50,6,35,0,3,1,...,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648344,2024-03-08 16:35:00+00:00,5133.75,5134.00,5133.00,5133.00,16,35,4,8,3,...,10,0,0,0,0,0,0,0,0,0
1648345,2024-03-08 16:40:00+00:00,5133.00,5133.50,5132.75,5133.50,16,40,4,8,3,...,10,1,0,0,0,0,0,0,0,0
1648346,2024-03-08 16:45:00+00:00,5133.25,5134.25,5133.00,5133.75,16,45,4,8,3,...,10,1,0,0,0,0,0,0,0,0
1648347,2024-03-08 16:50:00+00:00,5134.00,5134.00,5133.25,5133.50,16,50,4,8,3,...,10,0,0,0,0,0,0,0,0,0
1648348,2024-03-08 16:55:00+00:00,5133.50,5133.75,5132.00,5132.00,16,55,4,8,3,...,10,0,0,0,0,0,0,0,0,0